<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16"  href="~/ElaAdmin-master/images/favicon.png">
    <title>HP GAS Client Management Application</title>

    <link href="~/ElaAdmin-master/css/lib/chartist/chartist.min.css" rel="stylesheet">
    <link href="~/ElaAdmin-master/css/lib/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/ElaAdmin-master/css/lib/owl.theme.default.min.css" rel="stylesheet" />
    <!-- Bootstrap Core CSS -->
    <link href="~/ElaAdmin-master/css/lib/bootstrap/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="~/ElaAdmin-master/css/helper.css" rel="stylesheet">
    <link href="~/ElaAdmin-master/css/style.css" rel="stylesheet">

    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />

    <script src="~/ElaAdmin-master/js/lib/jquery/jquery.min.js" type="text/javascript"></script>
    @*<script src="~/Scripts/jquery-3.3.1.js" type="text/javascript"></script>*@
    <script src="~/Scripts/jquery.redirect.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js" type="text/javascript"></script>
    @* sweet alert js *@
    <script src="~/Scripts/SweetAlert.js" type="text/javascript"></script>
    @*<script src="~/Scripts/bootstrap.min.js" type="text/javascript"></script>*@
    @*<script src="~/Scripts/jquery.validate.unobtrusive.js" type="text/javascript"></script>*@
    <script src="~/ElaAdmin-master/js/lib/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="~/ElaAdmin-master/js/lib/bootstrap/js/popper.min.js"></script>

    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="~/ElaAdmin-master/js/jquery.slimscroll.js"></script>
    <!--Menu sidebar -->
    <script src="~/ElaAdmin-master/js/sidebarmenu.js"></script>
    <!--stickey kit -->
    <script src="~/ElaAdmin-master/js/lib/sticky-kit-master/dist/sticky-kit.min.js"></script>

    <script src="~/ElaAdmin-master/js/lib/datatables/datatables.min.js" type="text/javascript"></script>
    <script src="~/ElaAdmin-master/js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js" type="text/javascript"></script>
    <script src="~/ElaAdmin-master/js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.flash.min.js" type="text/javascript"></script>
    <script src="~/ElaAdmin-master/js/lib/datatables/cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js" type="text/javascript"></script>
    <script src="~/ElaAdmin-master/js/lib/datatables/cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js" type="text/javascript"></script>
    <script src="~/ElaAdmin-master/js/lib/datatables/cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js" type="text/javascript"></script>
    <script src="~/ElaAdmin-master/js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js" type="text/javascript"></script>
    <script src="~/ElaAdmin-master/js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.print.min.js" type="text/javascript"></script>
    <script src="~/ElaAdmin-master/js/lib/datatables/datatables-init.js" type="text/javascript"></script>



    <script src="~/ElaAdmin-master/js/lib/datamap/d3.min.js"></script>
    <script src="~/ElaAdmin-master/js/lib/datamap/topojson.js"></script>
    <script src="~/ElaAdmin-master/js/lib/datamap/datamaps.world.min.js"></script>
    <script src="~/ElaAdmin-master/js/lib/datamap/datamap-init.js"></script>

    <script src="~/ElaAdmin-master/js/lib/weather/jquery.simpleWeather.min.js"></script>
    <script src="~/ElaAdmin-master/js/lib/weather/weather-init.js"></script>
    <script src="~/ElaAdmin-master/js/lib/owl-carousel/owl.carousel.min.js"></script>
    <script src="~/ElaAdmin-master/js/lib/owl-carousel/owl.carousel-init.js"></script>


    <script src="~/ElaAdmin-master/js/lib/chartist/chartist.min.js"></script>
    <script src="~/ElaAdmin-master/js/lib/chartist/chartist-plugin-tooltip.min.js"></script>
    <script src="~/ElaAdmin-master/js/lib/chartist/chartist-init.js"></script>
    <!--Custom JavaScript -->
    <script src="~/ElaAdmin-master/js/custom.min.js"></script>
    
    <script type="text/javascript">
        $(document).ready(function () {
            $('#CustomerLink').click(function (e) {
                document.location = '@Url.Action("GetCustomers", "Customer")';               
            });
        });
    </script>


</head>

<body class="fix-header fix-sidebar">
    <!-- Preloader - style you can find in spinners.css -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
        </svg>
    </div>
    <!-- Main wrapper  -->
    <div id="main-wrapper">
        <!-- header header  -->
        <div class="header">
            <nav class="navbar top-navbar navbar-expand-md navbar-light">
                <!-- Logo -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="index.html">
                        <!-- Logo icon -->
                        <b><img src="~/ElaAdmin-master/images/logo.png" alt="homepage" class="dark-logo" /></b>
                        <!--End Logo icon -->
                        <!-- Logo text -->
                        <span><img src="~/ElaAdmin-master/images/logo-text.png" alt="homepage" class="dark-logo" /></span>
                    </a>
                </div>
                <!-- End Logo -->
              
            </nav>
        </div>
        <!-- End header header -->
        <!-- Left Sidebar  -->





        <div class="left-sidebar">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li class="nav-devider"></li>
                        <li class="nav-label">Home</li>
                        <li>
                            <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-tachometer"></i><span class="hide-menu">Dashboard <span class="label label-rouded label-primary pull-right">2</span></span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="index.html">Ecommerce </a></li>
                                <li><a href="index1.html">Analytics </a></li>
                            </ul>
                        </li>
                        <li class="nav-label">Apps</li>
                        <li>
                            <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-envelope"></i><span class="hide-menu">Email</span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="email-compose.html">Compose</a></li>
                                <li><a href="email-read.html">Read</a></li>
                                <li><a href="email-inbox.html">Inbox</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-bar-chart"></i><span class="hide-menu">Charts</span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="chart-flot.html">Flot</a></li>
                                <li><a href="chart-morris.html">Morris</a></li>
                                <li><a href="chart-chartjs.html">ChartJs</a></li>
                                <li><a href="chart-chartist.html">Chartist </a></li>
                                <li><a href="chart-amchart.html">AmChart</a></li>
                                <li><a href="chart-echart.html">EChart</a></li>
                                <li><a href="chart-sparkline.html">Sparkline</a></li>
                                <li><a href="chart-peity.html">Peity</a></li>
                            </ul>
                        </li>
                        <li class="nav-label">Customer</li>                            
                        <li>
                            <a class="has-default" id="CustomerLink" aria-expanded="false"><i class="fa fa-user"></i><span class="hide-menu">Customer</span> </a>
                             @*@Ajax.ActionLink("GetCustomers", "Customer", new { CustomerName = "", ConsumerNumber = 0, SubmitDate = "", Aadhar = "" }, new AjaxOptions {HttpMethod="POST" });*@
                        </li>

                        <li>
                           
                        </li>
                        <li>
                           
                        </li>
                        <li>
                            
                        </li>
                        <li class="nav-label">Layout</li>
                        <li>
                           
                        </li>
                        <li class="nav-label">EXTRA</li>
                        <li>
                           
                        </li>
                        <li>
                            
                        </li>
                        <li>
                            
                        </li>
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </div>





        <!-- End Left Sidebar  -->
        <!-- Page wrapper  -->
        <div class="page-wrapper">
            <!-- Bread crumb -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-primary">Dashboard</h3>
                </div>
                @*<div class="col-md-7 align-self-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                        <li class="breadcrumb-item active">Dashboard</li>
                    </ol>
                </div>*@
            </div>
            <!-- End Bread crumb -->
            <!-- Container fluid  -->
            <div class="container-fluid">
                <!-- Start Page Content -->
            

                <div class="row">
                 
                    @RenderBody()
                   
                </div>
              
               
            </div>
            <!-- End Container fluid  -->
            <!-- footer -->
            <footer class="footer"> © 2018 All rights reserved. Application By AK</footer>
            <!-- End footer -->
        </div>
        <!-- End Page wrapper  -->
    </div>
    <!-- End Wrapper -->
    <!-- All Jquery -->
    
   
</body>

</html>